/* HEADER  */
header {
    height: 40px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    padding: 40px 10px 20px;
}

.logo{
    width: 200px;
}

/* UTILITIES  */


.color-blue{
    color: #4ea0ff;
}

.underline-yellow {
    background-color: yellow;
}

/* TITLE  */
.title{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.writer {
    color: grey;
    font-size: 10px;
}

.date {
    color: grey;
    font-size: 8px;
    margin-bottom: 20px;
}

/* IMAGE  */
.info-img {
    font-size: 8px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: #4ea0ff;
    color: #fff;
}

.lorem-column {
    width: 30%;
}

.even-row{
    background-color: #97c4f8;
}